<launch>
  <!--
This should be run on a PC with a screen.
Also run either (mmm_control robot.launch camera.launch) or (mmm_control only_arduino.launch and ar_track.launch and camera.launch).
  -->
  <include file="$(find mmm_description)/launch/rviz.launch"/>
  <node name="behavior" pkg="mayfes" type="behavior.py" output="screen" respawn="true"/>

  <include file="$(find mmm_control)/launch/audio.launch"/>   
</launch>
