<launch>
  <!-- launch the subsumption architecture for the arm. Subscribes to several topics, then chooses which one to use. -->


  <!-- launch python scripts  -->
  <node name="subsumption" pkg="mmm_behaviour" type="arm_subsumption.py" output="screen" respawn="true"/>

  <!--~~~~The rest is taken from the MoveIt launch file~~~~-->
  <!-- <include file="$(find mmm_moveit_config)/launch/moveit_planning_execution.launch"/> -->
  <rosparam command="load" file="$(find mmm_moveit_config)/config/joint_names.yaml"/>
  <arg name="debug" default="false" />
  <arg name="sim" value="false" />
  <arg name="robot_ip" value="192.168.3.19" />
  <include file="$(find mmm_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>
  <node name="action_server" pkg="mmm_actionlib" type="action_server" respawn="true"/>
  <include file="$(find mmm_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  <include file="$(find mmm_description)/launch/description.launch"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
