<launch>
  <!-- based on https://github.com/sniekum/ar_track_alvar/blob/indigo-devel/launch/pr2_indiv_no_kinect.launch -->

  <!-- make sure you're running the image_transport, which converts the compressed image from raspi camera to raw. -->
  <!-- $rosrun image_transport republish compressed in:=/raspicam_node/image raw out:=/raspicam_node/image/image_raw -->

  <arg name="marker_size" default="2.9" />
  <arg name="max_new_marker_error" default="0.1" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/cv_camera/image_raw" />
  <arg name="cam_info_topic" default="/cv_camera/camera_info" />
  <arg name="output_frame" default="/camera" />

  <node name="ar_track" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="true">
    <param name="marker_size"           type="double" value="$(arg marker_size)" />
    <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
    <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
    <param name="output_frame"          type="string" value="$(arg output_frame)" />

    <remap from="camera_info"   to="$(arg cam_info_topic)" />
    <remap from="camera_image"  to="$(arg cam_image_topic)" />
  </node>

</launch>
<!-- test -->
