<launch>
  <!-- Launch this ON THE RASPI first of all, then you can start using your robot -->
  <!-- launches;
  - joint state publisher
  - joint command receiver
  - audio
  - camera node
    -->

  <include file="$(find mmm_control)/launch/only_arduino.launch"/>

  <node name="audio" pkg="mmm_control" type="audio.py" respawn="true" output="screen"/>
  
  <include file="$(find mmm_control)/launch/camera.launch"/>

</launch>
